/* NAVBAR COLOR MODIFICATION */
.navbar-default {
  background-color: #1b1f3b;
  border-color: #9a94bc;
}
.navbar-default .navbar-brand {
  color: #008ed6;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #f4f4f8;
}
.navbar-default .navbar-text {
  color: #008ed6;
}
.navbar-default .navbar-nav > li > a {
  color: #008ed6;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #f4f4f8;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #1b1f3b;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #008ed6;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #f4f4f8;
  background-color: #9a94bc;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #9a94bc;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #f4f4f8;
  background-color: #9a94bc;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #f4f4f8;
  background-color: #9a94bc;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #f4f4f8;
  background-color: #9a94bc;
}
.navbar-default .navbar-toggle {
  border-color: #9a94bc;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #9a94bc;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #008ed6;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #008ed6;
}
.navbar-default .navbar-link {
  color: #008ed6;
}
.navbar-default .navbar-link:hover {
  color: #f4f4f8;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #008ed6;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #f4f4f8;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #f4f4f8;
    background-color: #9a94bc;
  }
}

/* OTHERS */

.home-j
{
	margin-top: 100px;
	box-shadow: 0 8px 16px -6px black;
	border-radius: 20px;
	background-color: #f4f4f8;
}

.navbar-top
{

}

#github 
{
	width : 30px;
	height : 30px;
}

#logo
{
	margin-left: 10px;
	width : 80px;
	height : 50px;	
}

h4
{
	color: #008ed6;
}

body
{
	background-color: #008ed6;
}