<div class="row">
    <div class="col-xs-offset-3 col-xs-6">
        <div class="home-j jumbotron">
            <div class="row">
                <div class="col-xs-offset-4 col-xs-9">
                    <h1>Question {{gcontrol.ind}}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1">
                        <div>{{gcontrol.question}} + {{gcontrol.questId}}</div>
                        <input type="radio" name="answers" ng-model="gcontrol.chosenAnswer" value="{{gcontrol.answers[0]}}">{{gcontrol.answers[0]}}<br>
                        <input type="radio" name="answers" ng-model="gcontrol.chosenAnswer" value="{{gcontrol.answers[1]}}">{{gcontrol.answers[1]}}<br>
                        <input type="radio" name="answers" ng-model="gcontrol.chosenAnswer" value="{{gcontrol.answers[2]}}">{{gcontrol.answers[2]}}<br>
                        <input type="radio" name="answers" ng-model="gcontrol.chosenAnswer" value="{{gcontrol.answers[3]}}">{{gcontrol.answers[3]}}<br>
                        
                        <button ng-hide="gcontrol.hideValidate" ng-click="gcontrol.onclickValidate()">Validate Question</button>
                        <button ng-show="gcontrol.hideValidate" ng-click="gcontrol.onclick()">Next Question</button><br>
                        <div>SCORE : {{gcontrol.player.score}} </div>

                        <div>This is the chosen answer : {{gcontrol.chosenAnswer}}</div>
                
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-6">
                    <div class="my-signin"></div>
                </div>
            </div>
        </div>
    </div>
</div>
