<div class="row">
	<div class="col-xs-offset-3 col-xs-6">
		<div class="home-j jumbotron">
			<div class="row">
				<div class="col-xs-offset-4 col-xs-9">
					<h1>MuzziQ</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-offset-2">
					<h3> Welcome to MuzziQ, a quizz game about Music. </h3>
				<!-- {{cont.player.name}}. Currently your score is {{cont.player.score}} and signin = {{cont.isSignedIn}} -->
				</div>
			</div>
			<div class="row">
				<div class="col-xs-offset-6">
					<button ng-click="cont.play()"> PLAY {{cont.text}}</button>
				</div>
			</div>
		</div>
	</div>
</div>
