<header>
	<div class="navbar-top navbar navbar-default navbar-fixed-top">
		<div class="containeur-fluid">
			<div class="row">
				<div class="col-xs-1">
					<a id="home" href="#/home" > <img id="logo" src="assets/fonts/muzziq_logo.png" alt="logo" /> </a>
				</div>
				<div class="col-xs-offset-9 col-xs-1">
					<a id="hihgscore" href="#/highScore" > <h4> Highscores </h4> </a>
				</div>
				<div class="col-xs-1">
					<a> <div ng-show="lctrl.isSignedIn == null" id="navbar-signin"></div> <div ng-hide="lctrl.isSignedIn != null"> <button ng-click="lctrl.signOut();">Sign out</button> <div> </a>
				</div>
			</div>
		</div>
	</div>
</header>
<div class="row">
	<div class="col-xs-offset-3 col-xs-6">
		<div class="home-j jumbotron">
			<div class="row">
				<div class="col-xs-offset-4 col-xs-9">
					<h1>MuzziQ</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-offset-1">
					<h3> To play the game, please log in with your google account.</h3>
				
				</div>
			</div>
			<div class="row">
				<div class="col-xs-offset-6">
					<div class="my-signin"></div>
				</div>
			</div>
		</div>
	</div>
</div>
